body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #434455;
    background-color: #FFFFFF;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

p {
    margin: 0;
}

h2 {
    color: #2E2F42;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
}

h3 {
    color: #2E2F42;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

a,
button {
    text-decoration: none;
    cursor: pointer;
    font-style: normal;
}

img {
    display: block;
}

.section {
    padding-bottom: 120px;
    padding-top: 120px;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* #region Navigation */

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:
        0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.contact-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.main-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.page-header .main-logo {
    margin-right: 76px
}

.main-logo-part {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.nav-list-link {
    display: block;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link:hover,
.nav-list-link:focus {
    color: #404bbf;
}

.nav-list-link.current {
    color: #404bbf;
}

.nav-list-link.current::after {
    content: "";
    left: 0;
    bottom: -1px;
    position: absolute;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background: #404bbf;
}

.header-contact {
    font-style: normal;
}

.contact-list-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list-link:hover,
.contact-list-link:focus {
    color: #404bbf;
}

/* #endregion Navigation */

/* #region Hero*/

.section-hero {
    background-color: #2E2F42;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero_image.jpg);
    background-repeat: no-repeat;
    max-width: 1440px;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-title {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    max-width: 496px;
    margin-bottom: 48px;
}

.hero-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    border-radius: 4px;
    padding: 16px 32px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background: #404bbf;
}

/* #endregion Hero */

/* #region Features */

.features-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.features-list-title {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.features-list-item {
    width: calc((100% - 24px * 3) / 4);
}

.features-list-title {
    margin-bottom: 8px;
}

.features-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.features-container-icon {
    background: #f4f4fd;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

/* #endregion Features */

/* #region Team */

.team {
    background: #f4f4fd;
}

.team-title {
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.team-list-item {
    background-color: #FFFFFF;
    width: calc((100% - 24px * 3) / 4);
    align-items: center;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-description-container {
    padding: 32px 0;
    gap: 8px;
}

.team-list-title {
    text-align: center;
    margin-bottom: 8px;
}

.team-list-text {
    text-align: center;
    margin-bottom: 8px;
}

.social-icons {
    fill: #f4f4fd;
}

.list-icon {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 0 16px;
}

.icon-item {
    width: 40px;
    height: 40px;
}

.icon-link {
    padding: 12px;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team .icon-link:hover,
.team .icon-link:focus {
    background-color: #404bbf;

}

/* #endregion Team */

/* #region Portfolio */

.portfolio-title {
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list-item {
    width: calc((100% - 48px) / 3);
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio-list-item:hover .overlay-text {
    transform: translateY(0);
}

.portfolio-list-item:hover {
    box-shadow:
        0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);

}

.container-portfolio-item {
    border: 1px solid #e7e9fc;
    padding: 32px 16px;
    border-top: none;
}

.portfolio-list-title {
    margin-bottom: 8px;
}

.box {
    position: relative;
    overflow: hidden;
}

.overlay-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4d5ae5;
    padding: 40px 32px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* #endregion Portfolio */

/* #region Footer */
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #2e2f42;
    max-width: 264px;
}

.page-footer .container {
    display: flex;
    align-items: baseline;
}

.page-footer {
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-container {
    margin-right: 120px;
}

.page-footer .main-logo-part {
    color: #f4f4fd;
}

.page-footer .main-logo {
    display: inline-block;
    margin-bottom: 16px
}

.footer-social {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.footer-list-icon {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.page-footer .icon-link {
    padding: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.page-footer .icon-link:hover,
.page-footer .icon-link:focus {
    background-color: #31d0aa;
}

/* #endregion Footer */